
  
  @font-face {
    font-family: 'lora';
    src: url('./../assets/fonts/lora/Lora-Bold.ttf') format('.ttf'),
         url('./../assets/fonts/lora/Lora-Regular.ttf') format('.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  .custom-text {
    font-family: 'lora', lora; 
    font-size: 24px; 
    color: white;
  }